.item {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.image {
  position: relative;
  width: 100%;
  height: 350px;
}

.image .hoverImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  opacity: 0;
}

.image .hoverImage:hover {
  cursor: pointer;
  background-color: hsla(178, 100%, 50%, 0.6);
  opacity: 1;
}

.image img {
  border-radius: 10px;
}

.content h2 {
  color: white;
  font-size: 1.75rem;
}

.content h2:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.content p {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.25rem;
  margin: 1.75rem 0;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
}

.stats .balance {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.stats p {
  margin: 0;
}

.stats .balance p {
  padding-left: 10px;
}

.stats .time {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.stats .time p {
  padding-left: 10px;
}

.border {
  border: 1px solid hsla(215, 32%, 27%, 0.5);
  margin: 1rem 0;
}

.creator {
  display: flex;
  align-items: center;
  margin: 0;
}

.creator div {
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.creator p {
  margin-left: 20px;
  color: white;
}

.creator p span {
  color: hsl(215, 51%, 70%);
}

.creator p:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
