.item {
  display: flex;
  flex-direction: column;
}

.image {
  position: relative;
  width: 100%;
  height: 350px;
}

.image img {
  border-radius: 10px;
}

.content h2 {
  color: white;
  font-size: 1.75rem;
}

.content p {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  line-height: 25px;
  font-size: 1.25rem;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
}

.stats .balance {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.stats .balance p {
  padding-left: 10px;
}

.stats .time {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.stats .time p {
  padding-left: 10px;
}

.creator {
  display: flex;
  align-items: center;
  margin: 0;
}

.creator div {
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.creator p {
  margin-left: 20px;
  color: white;
}

.creator p span {
  color: hsl(215, 51%, 70%);
}
